body{
	display: flex;
	flex-direction: column;
}
.col-xs-12{
	display: flex;
	position: relative;
	background-color: #FFFFFF;
}
.col-xs-12 .col-xs-3{
	height: 100%;
	display: flex;
}
.col-xs-12 .col-lg-6{
	height: 100%;
	display: flex;

}
.col-xs-12 .col-xs-3 img{
	margin: 6px 0 0 8px;
}

	
.col-xs-12 .col-lg-6{
	margin: 0 0 0 50px;
}
.col-xs-12 .col-lg-6 .menu {
	margin: 30px 0px 20px 30px;
}

.col-xs-12 .col-lg-6 .menu a {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	color: #000000;

}
.col-xs-12 .col-md-3 .number{
	margin: 12px 0 0 0 ;
	
}
.col-xs-12 .col-md-3 div{
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-align: right;
	margin: 0 20px 0 0;
}

#bcg {
	position: absolute;
	z-index: -2;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
}
.imgCont{
	z-index: -1;


	background:rgba(0, 0, 0,0.1)
}
.main{
	background: rgba(0, 0, 0, .6);
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	font-family: sans-serif;
	color: #FFFFFF;
	height: 88.7vh;

}
.main .hello{
	margin: 5% 0 -1% 0;

}
.main .oasis strong{
	font-family: sans-serif;
	font-size: 102px;
	font-weight: 700;
	color: #FFFFFF;
}

.main .play img{
	width: 6%;
	height: 6%;
}
iframe{
	width: 720px;
	height: 480px;
	display: block;
	margin: auto;
}
.main .play img:hover{
	width: 8%;
	height: 8%;
	transition: 0.3s ease;
	margin: -1% 0 0 0;
}
.main .down{
	margin: 5% 0 0 0;
    animation-name: push;
    animation-duration: 3s;
    animation-iteration-count: 100000000000000000000000000;
}
.main .down img{
	
	width: 6%;
	height: 6%;
}
@keyframes push {
    0%   {margin: 5% 0 0 0;}
    25%  {margin: 6% 0 0 0;}
    50%  {margin: 5% 0 0 0;}
    75%  {margin: 6% 0 0 0;}
    100%  {margin: 5% 0 0 0;}
 }
}
